 #box{
   background-color: blue;
 }
 .heading{
    color:crimson
 }
 button{
    background-color: darkgreen;
 }
 p{
    text-align: right;
 text-decoration: wavy;

}

a{
    text-decoration: none ;
}