/*#box1{
height: 100px;
width: 100px;
background-color: chartreuse;
font-size: 10%;
}

#box2{
height: 50px;
width: 33%;
background-color: darkorange;
margin-left: 10%;
font-size: 2em;
width: 5rem;

}*/

div{
height: 100px;
width: 100px;
background-color: aqua;
border: 2px solid black;
display: inline-block;
}

#box1{
    position: static;
}

#box2{
position: relative;
top: 10px;
 
}