*{
background-color: rgb(215, 215, 250);

}


h1{
    color: rgb(255, 0, 221);
background-color: bisque;

}

button{
    color: azure;
    background-color: black;
}

button{

    color: rgb(216, 58, 19); 
}